body{
    background-color: #0b0c0e;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.subtitle-text{
    color: #9ca3af;
}

.auth-card-container{
    display: flex;
    flex-direction: column;
    width: 340px;
    height: auto;
    align-items: flex-start;
    background-color: #16171a;
    padding: 40px 40px;
    gap: 32px;
    border: #26282c 1px solid;
    border-radius: 12px;
}

.input-email{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
}